{% for p in projects %}
<table class="portfolio_project" cellspacing="0" id="project_{{ p.id }}">
    <tr class="r0">
        <td class="00 c0" style="width: 6%">
            <div class="project_duration">
                <span class="project_month">{{ p.start_date|date:'b'|upper }}</span><br>
                <span class="project_year">{{ p.start_date|date:'Y' }}</span><br>
                <div class="project_to"></div>
                <span class="project_month">{{ p.end_date|date:'b'|upper }}</span>
                <span class="project_year">{{ p.end_date|date:'Y' }}</span>
            </div>
        </td>
        <td class="01 c1" style="width: 72%">
            <div class="project_upperborder"></div>
        </td>
        <td class="02 c2" style="width: 22%">
        </td>
    </tr>
    <tr class="r1">
        <td class="10 c0">
            <div class="project_leftborder"></div>
        </td>
        <td class="11 c1">
            <div class="project_main">
                <div class="project_title">
                    {% if p.ifdetail %}
                    <span><a href="{{ p.id }}/detail/">{{ p.title }}</a></span>
                    {% else %}
                    <span>{{ p.title }}</span>
                    {% endif %}
                </div>
                <div class="project_abstract">
                    {{ p.abstract|safe }}
                </div>
            </div>
            <div class="main_border"></div>
        </td>
        <td class="12 c2">
            <div class="project_pic">
                {% if p.side_image %}
                <img src="/media/{{ p.side_image }}">
                {% endif %}
            </div>
            <div class="project_lang">LANG: {{ p.langs.all|join:", " }}
                <div class="project_langborder"></div>
            </div>
        </td>
    </tr>
    <tr class="r2">
        <td class="20 c0">
            <div class="project_lowerleftborder"></div>
        </td>
        <td class="21 c1">
            <div class="project_tech">TECH: {{ p.tech.all|join:", " }}</div>
        </td>
        <td class="22 c2">
            <div class="project_team">
                TEAM: {{ p.team.all|join:", " }}
                <div class="project_teamborder"></div>
            </div>
        </td>
    </tr>
</table>
{% endfor %}