{% extends 'base.html' %}
{% load staticfiles %}
{% load project_tags %}

{% block header %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/portfolio.css' %}">
{% endblock %}

{% block content %}
    {% show_navi %}
    <div class="block even_block">
        <div class="container">
            <h2>See? No style has been implemented yet. Motivate me
             (and the designer, too) if you are so eager to see it!</h2>
            <h1>{{ project.title }}</h1>
            {{ project.detail | safe }}
        </div>
    </div>
{% endblock %}

