{% extends "base.html" %}
{% load static %}
{% load slide_tags %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'basic/css/home.css' %}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
{% endblock %}

{% block content %}
    <div class="header" style="background-image:url({% static 'basic/img/front_cover.png' %})">
        <div id="floatblock">
            <h1>Wang, Yingfei</h1>
            <h3>王影霏</h3>
            <p class="major">
                Computer Engineering@University of Michigan<br>
                Electrical & Computer Engineering@SJTU<br>
            </p>
            <h5>Current Interests:</h5>
            <p class="interest">
                Web development<br>
                Mobile app development
            </p>
        </div>
    </div>
    <div class="navi block block_odd">
        <div class="navi_container">
            <div class="navi_center">
                <li><a href="" class="nolink">ABOUT ME</a></li>
                <li><a href="/portfolio/">PORTFOLIO</a></li>
                <li><a href="" class="nolink">BLOG</a></li>
            </div>
            <div class="navi_home"><img src=""></div>
        </div>
    </div>

    <div class="block block_even">
        <div class="slide_container">
            <div id="slide-leftcontainer">
                <div id = "slide-pic">
                    {% show_pics slides %}
                </div>
                <div id = "slide-lowerbar">
                    {% show_lowerbars slides %}
                </div>
            </div>

            <div id="slide-midpointer">
            </div>
            
            <div id="slide-sidebar">
                {% show_siderbars slides %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script type="text/javascript" src="{% static 'basic/js/slide.js' %}"></script>
{% endblock %}
