#footer{
    width: 100%;
    float: left;
    display: block;
    text-align: right;
    font-size: 16px;
    background-color: #eee;
}

#footer span{
    display: block;
}

.footer_container{
    margin: auto;
    width: 1200px;
    padding: 10px;
}

.block{
    border-bottom: 2px solid #dce0e0;
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    float: left;
    width: 100%;
}

.block_odd{
    background-color: #f5f5f5;
}

.block_even{
    background-color: white;
}